@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cats.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="my_image"></div>
    </div>
</body>
</html>
