@model List<Cat>

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cats.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        @foreach (var cat in Model)
        {
            <img src="@cat.Url" width="@cat.Width" height="@cat.Height"/>
        }
    </div>
</body>
</html>
