@model List<CatImages>

<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/cats.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
@*         <img id="current-image"
        src="@Model.FirstOrDefault()?.Url : @Environment.CurrentDirectory"
        /> *@
        <!--TODO: Need to test that the cat-error shows when model is null->
        <img src="~/images/cat-error.jpg" />
    </div>
</body>
</html>
